:root {
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

code {
  font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
  background: rgba(255,255,255,.08);
  padding: .1em .35em;
  border-radius: 4px;
  font-size: .9em;
}

a {
  color: #6c63ff;
}
